:root {
    /* --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb; */
 
    background-image: url("https://images.unsplash.com/photo-1464376810568-596bdd5a1897?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHdlbGxuZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  } 
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: 'Montserrat', sans-serif;
    /* width: 1%; */
  }
  /* .chat{
    width: 100%;
  } */

  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    height:100%;
    border: var(--border); 
    background: var(--msger-bg); 
     box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2); 
    /* border-radius: 100px; */

  }
  
  .msger-header {
    /* display: flex; */
    font-size: medium;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    border-bottom: var(--border);
    background: #3a6d8c;
    color:white;
    
  }
  
  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
      background: rgb(33, 31, 36);
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: rgb(33, 31, 36);
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    align-items: flex-start;
  }
  .msg-text{
    /* background: var(--right-msg-bg); */
    color: black;
    /* background-color: rgb(39, 35, 35 */
    border: none;
    border-radius: 30px;
    font-size: 1em;
  }
  
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: gray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
   
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-top-left-radius: 0;
    background: #eee8a9;
  }
  
  .right-msg {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .right-msg .msg-bubble {
    /* background: var(--right-msg-bg); */
    /* color: black; */
  
    border: none;
    border-radius: 20px;
    font-size: 1em;
    background-color: #75caf7;
    border-top-right-radius: 0;
    padding: 10px 16px;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .send-data {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background:whitesmoke;
  }
  .send-data * {
    /* padding: 10px; */
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .message::placeholder {
color: #3a6d8c;
  }
#msgerInput.message{
      flex: 1;
      border: 2px solid #3a6d8c;
      border-radius: 40px;
      height: max-content;
      padding: 16px 0 10px 24px;
      background: whitesmoke;
      width: fit-content;
  
  
  }
  .btn {
    margin-left: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    /* transition: background 0.23s; */
    padding: 10px;
    border-radius: 50%;
    display: flex;
    place-items: center;
    background: whitesmoke;
    box-shadow: 1px 1px 4px #00000085;
  }
  /* .msger-send-btn:hover {
    background: navy;
  } */
  .msger-chat {
    background-color: whitesmoke;
    /* background-image: url("https://media.istockphoto.com/photos/harmony-of-body-and-soul-picture-id472204091?b=1&k=20&m=472204091&s=170667a&w=0&h=ei96a-oWsc_ZhYJQIeNLuDy8JTeb4eBS5wK556Iwpio="); */
    background-repeat: no-repeat;
    background-size: cover;
    
  }