<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <!-- chat block -->
    <div class="chat-bar">
        <button type="button" class="chat-btn" id="collapse">Chat with us
            <img src="{{url_for('static', filename='/images/chat.png')}}" height="20px"/>
        </button>
    <div class="content">
        <div class="full-chat">
            <!-- message detail -->
            <div class="outer-container">
                <div class="chatbot">
                    <div id="chatt">
                        <p id="message" class="chatmessage" ><span>Loading......</span></p>
                    </div>
                    <div class="input">
                        <div class="userinput">
                            <input type="text" id="inputbox" class="enter" name="msg" placeholder="Tap enter to enter the message">
                            <p></p>
                        </div>
                        <div class="icons">
                            <img src="{{url_for('static', filename='/images/send.png')}}" height="25px" onclick="sendBtn()"/>
                        </div>
                    </div>
                    <div id="chat-bar">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>
</body>
</html>